* {
  font-family: Poppins, "sans-serif";
}
.main-tablet {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(68, 67, 67, 0.541),
      rgba(0, 0, 0, 0.39)
    ),
    url(../img/istockphoto-1160928674-612x612.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablet {
  width: 75%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  border: none;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(207, 207, 207, 0.7);
}
.tablet-txt {
  width: 100%;
  height: 20%;
  margin-top: 2em !important;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left-tablet {
  width: 50%;
  height: 85vh;
  background-color: white;
  box-shadow: 5px 10px 16px 5px rgb(0 0 0 / 20%);
}
.hold {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 5px 10px 16px 5px rgb(0 0 0 / 20%); */
}
.right-tablet {
  width: 50%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
}
.txt {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-muted {
  width: 70%;
  height: 40%;
}
.img-fluid {
  height: 65%;
  width: 90%;
}
.img1 {
  width: 100%;
}
.pad-form {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holdform {
  width: 100%;
  height: 580px;
}
.disposal {
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.social-text1 {
  text-align: center;
  padding: 0.7rem 0 !important;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem !important;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}
.role1 {
  height: 5%;
  width: 100%;
  text-align: center;
}
.radio-role {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}
.parag {
  font-size: 0.8em;
  text-align: center;
  padding: 8px;
}
