* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  /* overflow-x: hidden; */
  height: fit-content !important;
  font-size: 1.6rem !important;
}

*::-webkit-scrollbar {
  width: 7px;
  /* border-radius: 20px; */
}

*::-webkit-scrollbar-track {
  background: rgb(219, 219, 219);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(138, 154, 180);
  border-radius: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* svg:not(:root).svg-inline--fa {
  z-index: 1 !important;
} */
