* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  height: fit-content !important;
  font-size: 1.7rem !important;
}

*::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background: rgb(158, 193, 197);
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  border-radius: 20px;
}
