* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow-x: hidden; */
  height: fit-content !important;
  font-size: 1.7rem !important;
}

*::-webkit-scrollbar {
  width: 7px;
  /* border-radius: 20px; */
}

*::-webkit-scrollbar-track {
  background: rgb(198, 199, 199);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(48, 57, 73);
  border-radius: 5px;
}
