.message {
  display: flex;
  flex-direction: column;
}

.message.mine {
  align-items: flex-end;
}

.main {
}
.txt {
  background-color: rgb(48, 48, 124);
  color: white;
}

.message.mine .txt {
  background-color: rgb(209, 206, 206);
  color: black;
}
