<html>

<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>Classroom</title>
    <!-- Path to Framework7 iOS CSS theme styles-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.6.5/css/framework7.material.min.css">
    <!-- Path to Framework7 iOS related color styles -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/framework7/1.6.5/css/framework7.material.colors.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="classroom.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Path to your custom app icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="back">
        <div class="container">
            <div class="top">
                <div class="about">
                    <p class="subject">Basics of english language</p>
                    <p class="teacher">Tutor: Mr Colins More</p>
                </div>
                <div class="task">
                    <p class="thread">New Thread</p>
                    <i class="material-icons w3-small add">list_alt</i>
                </div>
            </div>
            <div class="chats">
                <div class="chat">
                    <div class="up_box">
                        <div class="up">
                            <div class="person">
                                <img src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">
                                <div class="txt">
                                    <p>Mr Donfack R</p>
                                    <p>Apr 30,2020</p>
                                </div>
                            </div>
                            <i class="material-icons w3-small add">more_vert</i>
                        </div>
                        <div class="middle">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptatum
                                voluptatibus voluptatem dignissimos blanditiis? Exercitationem, quo. Quaerat voluptatum,
                                officia, harum voluptas adipisci, ipsum dolores aspernatur deleniti impedit est qui?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis atque laudantium iste
                                veniam deserunt, veritatis, repellat aliquid earum consectetur natus optio! Quidem
                                explicabo, ullam culpa ratione accusamus itaque ea.
                            </p>
                        </div>
                    </div>
                    <div class="end">
                        <input type="search" name="" id="" placeholder="thread comments">
                    </div>
                </div>
                <div class="chat">
                    <div class="up_box">
                        <div class="up">
                            <div class="person">
                                <img src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">
                                <div class="txt">
                                    <p>Mr Donfack R</p>
                                    <p>Apr 30,2020</p>
                                </div>
                            </div>
                            <i class="material-icons w3-small add">more_vert</i>
                        </div>
                        <div class="middle">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptatum
                                voluptatibus voluptatem dignissimos blanditiis? Exercitationem, quo. Quaerat voluptatum,
                                officia, harum voluptas adipisci, ipsum dolores aspernatur deleniti impedit est qui?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis atque laudantium iste
                                veniam deserunt, veritatis, repellat aliquid earum consectetur natus optio! Quidem
                                explicabo, ullam culpa ratione accusamus itaque ea.
                            </p>
                        </div>
                    </div>
                    <div class="end">
                        <input type="search" name="" id="" placeholder="thread comments">
                    </div>
                </div>
                <div class="chat">
                    <div class="up_box">
                        <div class="up">
                            <div class="person">
                                <img src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">
                                <div class="txt">
                                    <p>Mr Donfack R</p>
                                    <p>Apr 30,2020</p>
                                </div>
                            </div>
                            <i class="material-icons w3-small add">more_vert</i>
                        </div>
                        <div class="middle">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptatum
                                voluptatibus voluptatem dignissimos blanditiis? Exercitationem, quo. Quaerat voluptatum,
                                officia, harum voluptas adipisci, ipsum dolores aspernatur deleniti impedit est qui?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis atque laudantium iste
                                veniam deserunt, veritatis, repellat aliquid earum consectetur natus optio! Quidem
                                explicabo, ullam culpa ratione accusamus itaque ea.
                            </p>
                        </div>
                    </div>
                    <div class="end">
                        <input type="search" name="" id="" placeholder="thread comments">
                    </div>
                </div>
                <div class="chat">
                    <div class="up_box">
                        <div class="up">
                            <div class="person">
                                <img src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">
                                <div class="txt">
                                    <p>Mr Donfack R</p>
                                    <p>Apr 30,2020</p>
                                </div>
                            </div>
                            <i class="material-icons w3-small add">more_vert</i>
                        </div>
                        <div class="middle">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptatum
                                voluptatibus voluptatem dignissimos blanditiis? Exercitationem, quo. Quaerat voluptatum,
                                officia, harum voluptas adipisci, ipsum dolores aspernatur deleniti impedit est qui?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis atque laudantium iste
                                veniam deserunt, veritatis, repellat aliquid earum consectetur natus optio! Quidem
                                explicabo, ullam culpa ratione accusamus itaque ea.
                            </p>
                        </div>
                    </div>
                    <div class="end">
                        <input type="search" name="" id="" placeholder="thread comments">
                    </div>
                </div>
                <div class="chat">
                    <div class="up_box">
                        <div class="up">
                            <div class="person">
                                <img src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">
                                <div class="txt">
                                    <p>Mr Donfack R</p>
                                    <p>Apr 30,2020</p>
                                </div>
                            </div>
                            <i class="material-icons w3-small add">more_vert</i>
                        </div>
                        <div class="middle">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate voluptatum
                                voluptatibus voluptatem dignissimos blanditiis? Exercitationem, quo. Quaerat voluptatum,
                                officia, harum voluptas adipisci, ipsum dolores aspernatur deleniti impedit est qui?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod debitis atque laudantium iste
                                veniam deserunt, veritatis, repellat aliquid earum consectetur natus optio! Quidem
                                explicabo, ullam culpa ratione accusamus itaque ea.
                            </p>
                        </div>
                    </div>
                    <div class="end">
                        <input type="search" name="" id="" placeholder="thread comments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>