.back {
  height: 100vh;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: row;
}
.classes {
  height: 100%;
  width: 25%;
  overflow-y: scroll;
  background-color: rgba(56, 95, 140, 0.281);
}
.rooms {
  width: 43vh;
  height: 37vh;
  border: 1px solid #dedede;
  margin-left: 1.3em !important;
  margin-bottom: 1em !important;
  margin-right: 1.3em !important;
  border-radius: 12px;
  /* background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,.6)); */
  display: flex;
  flex-direction: column;
}
.every{
  height: 40%;
  width: 100%;
}
.tities {
  width: 100%;
  height: 100%;
  font-size: 2em;
  padding-top: 1em !important;
  text-align: center;
}
.tities h3{
  padding-bottom: 8px !important;
}
.tutor {
  width: 100%;
  height: 8%;
  padding-top: 2em !important;
  padding-left: 2em !important;
}
.tutorName{
  color:#007195;
}
.away{
  width: 100%;
  height: 100%;

}
.giveme{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
}
.mignon{
padding-top: 6.5em !important;
}
.giveaway{
  padding-top: 5.5em !important;
  padding-left: 1em !important;
}
.contener {
  height: 100%;
  width: 75%;
  border: 1px solid #dedede;
  background-color: #f7f7fa;
}
.classcont {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px 1px !important;
  padding-right: 25px !important;
}
.about {
  width: 50%;
  padding-left: 3em !important;
}
.task {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 3em !important;
}
.subject {
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.877);
}
.teacher {
  font-weight: bold;
  font-size: 20px;
  color: palevioletred;
}
.thread {
  width: 60%;
  border: 2px solid teal;
  color: teal;
  font-weight: bold;
  align-self: center;
  padding: 5px !important;
  border-radius: 10px;
  background-color: rgba(196, 196, 255, 0.877);
  cursor: pointer;
}
.add {
  transform: translateX(30px);
  cursor: pointer;
}
.chats {
  margin: 10px 50px !important;
  display: flex;
  flex-direction: column;
}
.chat {
  width: 95%;
  height: auto;
  height: auto;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin-bottom: 1em !important;
  background-color: #fff;
}
.up_box {
  display: flex;
  flex-direction: column;
  padding: 10px 30px 0 30px !important;
}
.up {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em !important;
  /* padding: 2em !important; */
}
.person {
  display: flex;
  justify-content: space-between;
}
.txt-2 {
  width: 120px;
  height: 80px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.txt p {
  font-weight: bold;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.479);
}
.txt p:first-child {
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.person img {
  height: 80px;
  width: 90px;
  border-radius: 50%;
  margin-right: 20px !important;
}
.middle {
  height: 80px;
  padding: 0 10px !important;
}
.middle p {
  font-size: 0.7em;
}
.end {
  display: flex;
}
.end input {
  width: 100%;
  border: none;
  padding: 2rem 1rem !important;
  margin-top: 10px !important;
  border-top: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.end p {
  display: flex;
  text-decoration: none;
  align-content: center;
}
.end p i {
  padding: 10px !important;
}
.chatFooter {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typebar {
  width: 100%;
  height: 55px;
  background: #f8f8f8;
  border: 1px solid #c4c4c4;
  border-radius: 39px;
  margin-left: 3em !important;
  margin-right: 6em !important;
}
.typebar input {
  width: 90%;
  height: 100%;
  background: #f8f8f8;
  padding-left: 0.8rem !important;
  outline: none;
  border: none;
}
.typebar input ::placeholder {
  font-size: 20px;
}
