.main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
}
.iconBoxColor {
  width: 40px;
  height: 40px;
  background-color: #ccfdeb;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #385f8c !important;
}
.labelColor {
  color: #ccfdeb !important;
}

.iconBox {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue !important;
}
.icon {
  font-size: 22px;
}

.label {
  position: absolute;
  left: 50px;
  width: 100%;
  height: 40px;
  letter-spacing: 1.2;
  display: flex;
  align-items: center !important;
  white-space: nowrap;
  font-weight: bolder;
}

.iconsInCenter {
  position: relative;
  top: -5%;
  padding: 5px !important;
}

.sideNav {
  background-color: #385f8c;
  width: 50px;
  height: 100vh;
  padding: 5px;
  overflow: hidden;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  left: 0;
}

.expanded {
  width: 250px;
  transition: width 0.4s;
  align-items: flex-start;
}

.reduced {
  transition: width 0.4s;
}
.label {
  position: absolute;
  left: 50px;
  width: 50;
  height: 50;
  letter-spacing: 1.2;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu {
  width: 40px;
  height: 40px;
}

.logout {
  width: 40px;
  height: 40px;
}
.icons {
  width: 50px;
}

.icon {
  font-size: 22px;
}

.menu:hover,
.logout:hover,
.iconBox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
