.main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
}
.iconBoxColor {
  width: 40px;
  height: 40px;
  background-color: #ccfdeb;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #385f8c !important;
}
.labelColor {
  color: #ccfdeb !important;
}

.iconBox {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue !important;
}

/* .label {
  position: absolute;
  left: 50px;
  width: 100%;
  height: 40px;
  letter-spacing: 1.2;
  display: flex;
  align-items: center !important;
  white-space: nowrap;
  font-weight: bolder;
} */

.label {
  position: absolute;
  left: 50px;
  width: 100%;
  height: 40px;
  letter-spacing: 1.2;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.iconsInCenter {
  position: relative;
  top: -5%;
  width: 50px;
  /* padding: 5px 0 !important; */
  /* background-color: red; */
}

.sideNav {
  background-color: #385f8c;
  width: 50px;
  height: 100vh;
  /* padding: 5px; */
  overflow: hidden;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.navContainer {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  position: relative;
  left: 0;
}

.expanded {
  width: 250px;
  transition: width 0.4s;
  align-items: flex-start;
}

.reduced {
  transition: width 0.4s;
}

.menu {
  width: 50px;
  height: 40px;
  font-size: 20px;
}

.logout {
  width: 40px;
  height: 40px;
}
.icon {
  font-size: 19px;
}

.menu:hover,
.logout:hover,
.iconBox:hover {
  cursor: pointer;
  opacity: 0.8;
}

.mybody {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
