.twitter_icon {
  color: #80d4ff !important;
  /* background-color:  !important; */
}
.inputStyle {
  border: solid 2px #ccc;
  outline: none;
  padding: 0.8rem !important;
  border-radius: 2px;
  width: 70%;
}

.inputStyle:hover {
  box-shadow: #ccc 1px 2px 12px;
}

.inputStyle:focus {
  box-shadow: #ccc 1px 2px 12px;
}

.reviewBtn {
  outline: none !important;
  border: none !important;
}

.reviewTextBox {
  border: solid 2px #eee;
}
