.twitter_icon {
  color: #80d4ff !important;
  /* background-color:  !important; */
}
.inputStyle {
  border: solid 2px #ccc;
  outline: none;
  padding: 0.8rem !important;
  border-radius: 2px;
  width: 70%;
}

.inputStyle:hover {
  box-shadow: #ccc 1px 2px 12px;
}

.inputStyle:focus {
  box-shadow: #ccc 1px 2px 12px;
}

.reviewBtn {
  outline: none !important;
  border: none !important;
  align-self: flex-start;
}

.reviewTextBox {
  border: solid 2px #eee;
}
.bioTextArea {
  height: 50%;
  overflow: auto;
}

.bg_learner {
  /* background-color: teal; */
  background-image: url("https://i.pinimg.com/originals/cb/ae/6e/cbae6e352011f9b74581bf878deb981f.jpg");
  background-size: cover;
  /* height: 100%; */
}
/* .reviewArea::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

.reviewArea::-webkit-scrollbar-track {
  background: rgb(158, 193, 197);
  border-radius: 20px;
}

.reviewArea::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131);
  border-radius: 20px;
} */
