@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: orange;
}

/* h2 {
    color: #000;
    margin: 2rem 0 .5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
} */

.category {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
.person {
  position: absolute;
  top: 60%;
  left: 10%;
  display: flex;
  justify-content: space-between;
}
.course {
  position: absolute;
  top: 10%;
  left: 10%;
}
.course h3 {
  font-weight: bolder;
  color: #fff;
}
.course h4 {
  font-weight: bold;
  color: #fff;
  padding: 0.5rem;
}
.person img {
  border-radius: 50%;
  margin-right: 1rem;
}
.person h4 {
  margin-top: 2rem;
  color: #fff;
}

/*************************** Cards *******************************/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* see notes below */
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.card {
  /*height: 200px;*/
  /*background: red;*/
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 0.5rem;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  /* -webkit-box-orient: vertical; */
  /* -webkit-box-direction: normal; */
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  /* color: #5d5e5e; */
}
.header {
  display: flex;
  justify-content: space-between;
}
.header input {
  height: 40px;
  width: 40vw;
  border: 1px solid #000;
  border-radius: 20px;
  padding-left: 0.8rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  outline: none;
}

@media screen and (max-width: 730px) {
  body {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 580px) {
  .header {
    display: inline;
    justify-content: none;
  }
  .header h3 {
    font-size: 40px;
  }
  .header input {
    height: 40px;
    width: 80vw;
    border: 1px solid #000;
    border-radius: 20px;
    padding-left: 0.8rem;
    margin-top: 1rem;
  }
  .person {
    position: absolute;
    top: 60%;
    left: 10%;
    display: flex;
    justify-content: space-between;
  }
  .course h3 {
    font-size: 30px;
  }
  .course h4 {
    padding: 0.5rem;
    font-size: 40px;
  }
  .person img {
    height: 150px;
    width: 150px;
  }
  .person h4 {
    font-size: 40px;
  }
}
@media screen and (max-width: 446px) {
  .person img {
    height: 100px;
    width: 100px;
  }
  .person h4 {
    font-size: 30px;
  }
  .course h3 {
    font-size: 30px;
  }
  .course h4 {
    padding: 0.4rem;
    font-size: 30px;
  }
}
@media screen and (max-width: 373px) {
  .course h4 {
    padding: 0.4rem;
    font-size: 20px;
  }
}
@media screen and (max-width: 317px) {
  .course h3 {
    font-size: 15px;
  }
  .person h4 {
    font-size: 20px;
  }
}
