.iconBoxColor {
  width: 40px;
  height: 40px;
  background-color: #ccfdeb;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #385f8c !important;
}

.iconBox {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue !important;
}
.icon {
  font-size: 22px;
}

.label {
  position: absolute;
  left: 50px;
  width: 50;
  height: 50;
  letter-spacing: 1.2;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
